
body{
	position: relative;
	background-color: #28292a;
	color: #636363;
	font-size: 30px;
	font-family: 'Montserrat', sans-serif;
}
a{
	text-decoration: none;
	color: #636363;
}
ul{
	list-style-type: none;
	margin: 0;
}
h1{
	/*width: 50%;*/
	padding-top: 50px;
	font-size: 50px;
	margin-bottom: 15px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	z-index: 100;
	color: #242424;
	text-align: center;
	letter-spacing: 10px;
	/*animation: typing-text 2s steps(24);*/
	overflow: hidden;
	white-space: nowrap;


}
hr{
    width: 15%;
    text-align: center;
    size: 4px;
    z-index: 999;
   	height: 6px;
	background: url(http://ibrahimjabbari.com/english/images/hr-12.png) repeat-x 0 0;
    border: 0;
    color: #242424;

}
/**********PRELOAD PAGE**************/
.preload{
	background: #242424;
	height: 100vh;
	width: 100%;
	position: fixed;
	top: 0;
	left:0;
	z-index: 1;

}
.logo img{
	width: 50%;
	position: absolute;
	left:25%;
	top: 45%;

}
/***************** MOBILE FIRST *****************/


/*header*/
header{
	width: 100%;
	height: 50px;
	position: fixed;
	background: #242424;
	z-index: 1000;
	font-size: 20px;
}
/******MOBILE-NAVIGATION********/
.mobile-nav{
	width: 100%;
	height: 50px;
	/*display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;*/
}
.nav-bar{
	font-size: 20px;
	padding: 10px;
	color: #636363;
	float: right;

}
.nav-bar:hover, .nav-bar:active{
	border-bottom: 2px solid #56C4CF;
	color: #56C4CF;
}
.mobile-logo{
	height: 50px;
	width: auto;
	float: left;

}

#side-nav {
    height: 300px; 
    width: 100%; 
    display: none;
    position: fixed;
    z-index: 100; 
    top: 0;
    left: 0;
    background-color:#28292a;
    padding-top: 20px; 
    padding-left: 55px;
    transition: 2s; 
    text-align: left;

}
#side-nav li a {
    padding: 8px 0px 8px 0px;
    font-size: 18px;
    color: #636363;
    display: block;
    transition: 2s;
}
.fa-times{
	position: absolute;
    top: 0;
    right: 50px;
    font-size: 20px;
    padding: 15px;
   color: #646464;
}
.close-btn{
	display: inline-block;
}
.desktop-nav{
	display: none;
}
/******COVER******/

.hero{
	background-image: url("../photos/cover9.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	height: 100vh;
	position: relative;
	/*margin-bottom: 20px;*/

}
.hero-container{
	display: none;
}



/*****services****/
#services{
	position: relative;
	background-color: #fff;
	padding-bottom: 100px;
	

}
.display{
	display: none;
}
/*ARROW*/
.arrow{
	/*width: 100%;*/
	height: auto;
	position: relative;
	background-color: #fff;

	
	

}
.arrow:after{
	display: none;
	
}

.services-text img{
	display: none;
}
.services-text{
	width: 100%;
	margin: auto;
	font-size: 15px;
	padding-bottom:30px;
	line-height: 25px;
	color: #fff;
	display: flex;
}
.services-text p{
	
	padding: 5px;
	color: #242424;
	width: 80%;
	line-height: 25px;
	text-align: justify;
	margin-left: auto;
	margin-right: auto;

}

.list{
	
	margin:0 auto;
	text-align: center;
	padding:0;
	padding-top: 10px;
	display: flex;
	flex-direction: column;
	
}

.list img{
	margin-right: auto;
	margin-left: auto;
	width: 70px;
	height: 50px;
	
}
 .list p{
	font-size: 16px;
	text-align: center;
	color: #242424;

}


/********ABOUT******/
#about{
	background: #fff;
	height: auto;
	/*display: flex;
	flex-direction: column;
	align-content: center;*/


}
#about h1{
	padding-top: 50px;
	

}

.container{
	
	background: #e5efff;
	transform: skew(0deg,-7deg) translateY(-70px);
	margin-top: 150px;
	
}

.about-text{
	transform: skew(0deg,7deg);
	padding-top: 40px;
	padding-bottom: 40px;
	display: flex;
    flex-direction: column;
    align-items: center;

}
.bold{
	font-weight: bold;
}
.about-text img{
	width: 250px;
	height: 250px;
	border-radius: 100%;
	margin: auto;
	margin-top: 15px;

}

.about-text p{
	font-size: 16px;
	padding:5px 30px;
	color: #242424;
	line-height: 25px;
	text-align: justify;

}
/********PAGE SCROLL******/
.page-scroll{
	-webkit-transition-property:-webkit-transform;
	-webkit-transition-duration:1s;
	-moz-transition-property:-webkit-transform;
	-moz-transition-duration:1s;

}
/******Legalizacija********/
#legalization{
	color: #636363;
}
#legalization h1{
	color: #ecf0f1;
	font-size: 40px;
	letter-spacing: 2px;
}

/*.steps-container h5{
	margin: 0;
    text-align: left;
    padding-top: 20px;
    padding-left: 20px;
    font-size: 15px;
    letter-spacing: 1px;
    margin-bottom: 10px;
    color: #ecf0f1;
}*/
.steps li{
	font-size: 16px;
	font-weight: 700;
	letter-spacing: 1px;
    margin-bottom: 10px;
    color: #ecf0f1;
}
.link{
	margin: 0;
    padding-left: 20px;
    font-size: 13px;
    color: #ecf0f1;
}

/*form*/
form{
	width: 90%;
	margin: auto;
	padding-top: 20px;
}
input[type=text],input[type=email],input[type=number],select{
	display: block;
	width: 100%;
	height: 40px;
	font-size: 14px;
	color: #ecf0f1;
	margin-bottom: 10px;
	border: none;
	border-bottom: 1px solid #56C4CF;
	background-color: transparent;
}
input[type=email]{
	margin-bottom: 50px;
}
.blank-space{
	margin-top: 15px;
}
textarea{
	width: 99%;
	margin-top: 10px;
	resize: none;
	font-size: 14px;
	color: #ecf0f1;
	height: 80px;
	border-color: #56C4CF;
	margin-bottom: 10px;
	background-color: transparent;


}
select{
	opacity: 0.6;
}
label{
	font-size: 15px;
	color: #ADADAD;
	font-weight: 600;
	letter-spacing: 1px;

}
.napomena{
	font-size: 10px;
}
.napomena span{
	color: red;
}
button{
	width: 100%;
	border: none;
	border-radius: 6px;
	color: #ecf0f1;
	background: #56C4CF;
	font-size: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 10px;
}

/*contact*/
#contact{
	background: #fff;
}
#contact h1{
	padding-top: 50px;
 
}
.contact-text{
	width: 100%;
	margin-bottom: 30px;
	margin-top: 90px;
    padding-top: 30px;
	transform: skew(0deg,-7deg);
}
.contact-text p{
	font-size: 13px;
    /* text-align: center; */
    letter-spacing: 1px;
    width: 70%;
    margin: auto;
    margin-bottom: 10px;
    padding-left: 70px;
}
.contact-container{
	
	background: #e5efff;
	transform: skew(0deg,7deg) translateY(-70px);
	margin-top: 150px;
	
}
.social{
	transform: skew(0deg,-7deg);
	margin-top: 0!important;
	padding-top: 0!important;
}
.social h5{
	color: #3d3d3d;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 15px;
}

.social div a:hover{
	color: #56C4CF;
}
.face{
	padding: 10px 15px;
    border-radius: 50%;
	background: #3d3d3d;
    color: #fff;
    font-size: 15px;

}
.g-plus{
	padding: 10px;
	border-radius: 50%;
	background: #3d3d3d;
    color: #fff;
    font-size: 15px;

}
.you-tube{
	padding: 10px 12px;
	border-radius: 50%;
	background: #3d3d3d;
    color: #fff;
    font-size: 15px
}
.linked-in{
	padding: 10px 13px;
	border-radius: 50%;
	background: #3d3d3d;
    color: #fff;
    font-size: 15px
}
.social div{
	padding-bottom: 30px;
	text-align: center;
}

/*footer*/
.copyright{
	text-align: center;
	font-size: 10px;
	margin-bottom: 0;

}

@media only screen and (min-width: 736px){
	hr{
		width: 7%;
	}
	
	.services-text{
		width: 50%;
		height: 200px;
	/*	text-align: justify;*/
	}
	.services-text p{
		padding-left: 50px;
		margin-top: 20px;
	}
	.about-text{
		text-align: justify;
		flex-direction: row;
	}
	
	.contact-text p{
		width: 50%;
		font-size: 14px;
		letter-spacing: 2px;
		line-height: 20px;
		margin-left: auto;
		margin-right: auto;

	}
	.legalization-container{
		/*width: 75%;
		margin: auto;*/
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		width: 100%;


	}

	.legalization-container section{
		width: 50%;
	}
	.leg-bg{
		background-image: url(../photos/PSX_20180223_203110.jpg);
		background-size: cover;
		height: inherit;

	}
	.steps-container{
		padding-left: 5px;
		padding-bottom: 30px;

	}
	.f-o{
		background: rgba(0, 0, 0, 0.4);
		color: #fff;
		width: 80%!important;
		margin-top: 50%;
		margin-right: auto;
		margin-left: auto;
	   
	}
	.form-container{
		margin: auto;
	}
	.about-text img{
	width: 320px;
	height: 320px;
}
.contact-text{
	margin-left: 30px;
}



}

@media only screen and (min-width: 993px){


/*******DESKTOP NAVIGATION*******/
	.mobile-nav{
		display: none;
	}
	/*desktop nav*/
	.desktop-nav{
		display: flex;
    	justify-content: space-between;
    	align-content: center;
    	width: 100%;
	}
	.desktop-logo{
		height: 50px;
		width: auto;
		/*position: fixed;
		right: -1%;*/
		
	}
	nav{
		height: 50px;
	}
	.desktop-nav nav ul{
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: baseline;
	}
	.desktop-nav nav ul li a{
		font-size: 15px;
		padding: 10px 15px;
	}

	.navigation{
	display: inline-block;
	text-align: center;
	padding: 7px;
}
	
	.desktop-nav nav ul li a:hover, .desktop-nav nav ul li a:active{
		border-bottom: 2px solid #56C4CF;


	}
	.desktop-nav .fb:hover, .desktop-nav .fb i:active{
		border-bottom: none;

	}
	.fa-facebook-f:hover {
    color: #12397a!important;
	}

	.fa-google-plus-g:hover {
    color: #ce1c2e!important;
	}
	.fa-youtube:hover{
		color: #9b000f!important;

	}
	.fa-linkedin-in:hover{
		color: #6093e5!important;
	}

/********COVER*******/
	.hero{
		background-position: left;
	}

	.hero-container{
	margin-top: 130px;
	height: auto;
	}

	.hero-container h1{
	color: #242424;
	letter-spacing: 2px;
	font-family: 'Metrophobic', sans-serif;
	/*padding-right: 50px;*/
	z-index: 10000;
	
	}
	.hero-container p{
		width: 35%;
		margin-top: 0;
		margin-left: 0;
		font-size: 20px;
		/*padding-top: 80px;*/
		line-height: 30px;
	}
/************SERVICES****************/
.display{
	display: inline-block;
}
.arrow{
	background-color: #e5e5ea;
	width: 90%;
	padding: auto;
	height: 240px;
}
.arrow:before{
	display: inline-block;
	content: "";
	width: 0px;
	height: 0px;
	border-left:50px solid white; 
	border-bottom:120px solid transparent;
	border-right:120px solid transparent;
	border-top:120px solid transparent;
	position: absolute;
	left: 0%;
	top:0%;

	}
	.arrow:after{
	display: inline-block;
	content: "";
	width: 0px;
	height: 0px;
	border-left:120px solid #e5e5ea; 
	border-bottom:120px solid transparent;
	border-right:120px solid transparent;
	border-top:120px solid transparent;
	position: absolute;
	left: 100%;
	top:0%;
	}
	.services-text{
		width: 50%;
	}

	.services-text img{
		display: inline-block;
	}

	img.shape1{
	width:180px;
	height: 180px;
	position: absolute;
	left: 17%;
	z-index: 2;

	}
	
	.list{
		flex-direction: row;
		justify-content: space-around;
		padding-top: 40px;
		padding-bottom: 100px;
	}
	.container{
		
		transform: skew(0deg,-3deg) translateY(-100px);
	}
	.about-text{
		display: flex;
	transform: skew(0deg,3deg);
	}
	
	.about-text p{
		width: 40%;
		margin: 0 auto;
		padding-top: 50px;
	}

	#legalization h1{
	color: #ecf0f1;
	font-size: 40px;
	letter-spacing: 8px;
}

	/*CONTACT*/


	.contact-text{
		transform: skew(0deg,-3deg);
		width: 100%;
	}
	.social{
		transform: skew(0deg,-3deg);
		width: 70%;
	}
	
	#contact .contact-container{
		display: flex;
	    flex-direction: column;
	 	align-items: center;
	    width: 100%;
	    margin-top: 150px;
	    z-index: 1;
	}
	.contact-text{
		width: 50%;
    	margin-top: 50px;
    	margin-left: 40px;
	}
	.contact-container{
		
		transform: skew(0deg,3deg) translateY(-100px);
	}
	/*.social h5{
		margin-top: 100px;
	}
*/
}
@media only screen and (min-width: 1157px){
	#legalization h1{
	color: #ecf0f1;
	font-size: 50px;
	letter-spacing: 8px;
}
	.services-text p{
		margin-top:50px;
}

@media only screen and (min-width: 1500px){
	.f-o{
		margin-top: 20%;
	}
	.contact-text{
		width: 40%;
		margin-left: 60px;
	}
	.services-text p{
		margin-top: 50px;
	}
	}
@keyframes typing-text{
	from{
		width: 0;

	}
	to{
		width: 300px;
	}
}
@keyframes fadeout{
	from{
		opacity:1;
		
	}
	to{
		opacity:0;


	}
}
